In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
p_count = len(data)

In [7]:
# Какое количество мужчин и женщин ехало на корабле?

data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [9]:
# Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. 

surv = data['Survived'].value_counts()
(surv/p_count) * 100

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [11]:
# Какую долю пассажиры первого класса составляли среди всех пассажиров? 

p_classes = data['Pclass'].value_counts()
(p_classes/p_count) * 100

3    55.106622
1    24.242424
2    20.650954
Name: Pclass, dtype: float64

In [12]:
# Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров.

print('mean', data['Age'].mean())
print('median', data['Age'].median())

mean 29.6991176471
median 28.0

In [13]:
# Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? 

data[['SibSp', 'Parch']].corr(method='pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

## Важность признаков

In [14]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [15]:
# Оставьте в выборке четыре признака: 
# класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

pre_X = data.loc[:, ['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
y = data.loc[:, 'Survived']

In [16]:
# В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст.

pre_X = pre_X.dropna()

In [17]:
# Обратите внимание, что признак Sex имеет строковые значения.

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
pre_X['Sex'] = encoder.fit_transform(pre_X['Sex'])

In [18]:
# Выделите целевую переменную — она записана в столбце Survived

X = pre_X.loc[:, ['Pclass', 'Fare', 'Age', 'Sex']]
y = pre_X.loc[:, 'Survived']

In [19]:
# Обучите решающее дерево с параметром random_state=241

clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y);

In [20]:
# Вычислите важности признаков и найдите два признака с наибольшей важностью.

importances = clf.feature_importances_
importances

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])

In [21]:
# 'Fare', 'Sex'
# Эти признаки являются наиболее информативными, так как при крушении корабля
# в первую очередь спасали женщин и пассажиров первого класса, 
# где ехали пассажиры с наиболее дорогими билетами